{% extends 'magasin/base.html' %}

{% block title %} Catalogue de produits {% endblock title %}

{% block content %}
<!-- body -->
<div class="container-fluid mt-3 ">
  <div class="row">
    <!-- all products -->
    <div id='products' class="col-lg-9 mx-auto ">
      <div class="row mx-auto ">
        {% for product in products %}
            <div id="{{product.id}}" class="card mx-3 mb-3 product-card" style="width:18rem;">
       <img src="{{product.Img.url}}" alt="Card image cap" style="height: 100%; width: 100%;">
     <div class="card-body">
        <h5 class="card-title">{{product.libelle}}</h5>
        <p class="card-text">{{product.description}}</p>
     </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
