{% extends 'magasin/base.html' %}
{% block body %}
{% load static %}
<div style="overflow:scroll; border:#000000 1px solid;">
<form method='POST' class="post-form">
{% csrf_token %}
<table>
 <tr>
{% for article in list %}
<td>
 <img src='/media/{{ article.Img }}'
class="rounded float-start"
height="200px"
width="200px"
 alt="">
 <figcaption class="figure-caption">
{{article.libelle}}
 </figcaption>
 <p> {{article.Img}} </p>
 <p> {{article.prix}} DT. </p>
</td>
{% endfor %}
 </tr>
 </table>
</form>
</div>
{% endblock %}